backend/node_modules
frontend/node_modules

backend/.env
frontend/.env

frontend/dist/
frontend/build/
frontend/src/components/vendor/AutoMenuGenerator.jsx
frontend/src/components/vendor/DemandHeatmap.jsx

backend/controllers/paymentController.js
backend/routes/paymentRoutes.js

/DS_Store
Thumbs.db